body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: url('cobrinhaimg/green-snake-game-character-bqvxt2p5oibadgqn.jpg') no-repeat center center fixed;
    background-size: cover;
}
